body{
    background-image: url("https://www.clipartkey.com/mpngs/m/250-2509527_transparent-green-smoke-png-transparent-light-blue-smoke.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30px;
}
.left{
    padding:0px;
    margin:0px;
    width:300px;
    height: 100vh;
    background-image: linear-gradient(to right, white , #b2c4f7);
    float:left;
    text-align:center;

}
.title{
    font-size:20px;
    font-weight:bold;
    color: rgb(19, 14, 14);
    text-align:center;
    padding:10px;
    margin:0px;
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
.menu{
    font-size:20px;
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif;
    margin-top:300px;
    
}
ul{
    list-style-type:none;
}
a{
    color:rgb(19, 14, 14);
    text-decoration:none;
}
.phone{
    width: 500px;
    height: 704px;
    /* margin-top: 100px; */
    padding-top: 128px;
    margin-right: 140px;
    float: right;
}
.display{
    width: 265px;
    height: 648px;
    /* padding-top: 172px; */
    float: right;
    right: 50px;
}
.name{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 383px;
    position: absolute;
    margin-top: 204px;
}
.name h1{
    font-size:50px;
    font-weight:bold;
    color:#767f99;
    font-family: 'Josefin Sans', sans-serif;

}
.desc{
    padding-top: 20px;
    color:black;
    padding-right: 600px;
}
button{
    padding-top: 20px;  
}
.connect{
    margin-top:20px;
    
}
span{
    color: red;
}
.description{
    color: black;
    font-size: 20px;
    padding-right: 600px;
}
.mk{
    background-color: #c5d6cf;
    opacity: 0.5;
    height: 26rem;
    width: 57rem;
    margin-left: 380px;
    margin-top: 424px;
    position: absolute;
    border-radius: 8px;
    
}
.heading_mk{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: black;
}
.iphone{
    width: 500px;
    height: 779px;
    /* margin-top: 100px; */
    padding-top: 128px;
    margin-right: 140px;
    float: right;
}